{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_image %}
    <img src="http://satyr.io/500x80/1/?text=Shopware 6" alt="">
    <h6>best shop 222222</h6>
    {% sw_icon 'arrow-head-left' %}
{% endblock %}
