{% block sw_cms_block_image_slider_demo_preview %}
    <div class="sw-cms-preview-image-slider-demo">
        <sw-icon name="default-arrow-head-left" size="20"></sw-icon>
        <img :src="'/administration/static/img/cms/preview_breather_small.jpg' | asset">
        <sw-icon name="default-arrow-head-right" size="20"></sw-icon>
    </div>
{% endblock %}
